#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'ci_session'
app.sessionExpiration = 7200
app.sessionSavePath = null
app.sessionMatchIP = false
app.sessionTimeToUpdate = 300
app.sessionRegenerateDestroy = false

app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = cvi_wirotaman
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port = 3306

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

contentsecuritypolicy.reportOnly = false
contentsecuritypolicy.defaultSrc = 'self'
contentsecuritypolicy.scriptSrc = 'self'
contentsecuritypolicy.styleSrc = 'self'
contentsecuritypolicy.imageSrc = 'self'
contentsecuritypolicy.baseURI = 'self'
contentsecuritypolicy.childSrc = 'self'
contentsecuritypolicy.connectSrc = 'self'
contentsecuritypolicy.fontSrc = 'self'
contentsecuritypolicy.formAction = 'self'
contentsecuritypolicy.frameAncestors = 'none'
contentsecuritypolicy.mediaSrc = 'self'
contentsecuritypolicy.objectSrc = 'self'
contentsecuritypolicy.pluginTypes = 
contentsecuritypolicy.reportURI = 
contentsecuritypolicy.sandbox = 
contentsecuritypolicy.upgradeInsecureRequests = false
contentsecuritypolicy.manifestSrc = 'self'
contentsecuritypolicy.workerSrc = 'self'

